.form-demo .card {
    min-width: 450px;
}
.form-demo .card form {
    margin-top: 3rem;
}
.form-demo .card .field {
    margin-bottom: 4rem;
}
@media screen and (max-width: 960px) {
    .form-demo .card {
        width: 80%;
    }
}
@media screen and (max-width: 640px) {
    .form-demo .card {
        width: 100%;
        min-width: 0;
    }
}



.p-button {
    background-color: pink;
    border: red;
} 


.p-inputtext:enabled:hover {
    border-color: pink;
}

.p-inkp-ink-active{
    background-color: black;
}

.text-center{
    font-weight: bold;
}

.p-checkbox .p-checkbox-box.p-highlight {
    border-color: pink;
    background-color: pink;
} */

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: pink;
  } */

 .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: pink;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #C7D2FE;
    border-color: pink;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: pink;
    background: pink;
    color: #ffffff;
  }

  .p-tabview .p-tabview-nav .p-tabview-ink-bar{
      background-color: red;
  }
  
  :root {
    --focus-ring : pink;
}


.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.1rem pink;
    border-color: magenta;
}